h1 {
	background-color: white;
	color:purple;
	text-decoration: underline  overline;
	font-size: 500%;
	text-align: center
}
p {
	background-color: white;
	color:purple;
	font-style: italic;
	text-align: center;
	font-size: 300%;
}

	table, th, td {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	border: 2.5px solid yellow;
	width: 60%;
	color: white;
	font-family: "Arial";
}

td:hover {background-color: yellow;}
table, th, td {
  background-color: limegreen;
}

.fruit_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.cvc_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;